body {
    background-image: url('cafe.jpg');
    background-size: contain;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;/*alinhar itens*/
    min-height: 100vh;
    margin: 0;

}


  input[type=text], input[type=password] {
    width: 10%;
    padding: 10px 10px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  button:hover {
    opacity: 0.8; /*Quando clicar sobre o botão ele vai ficar mais transparente*/
  }
  
  .container {
    width: 300px;/*Largura do bloco*/
    padding: 20px;/*tamanho do bloco*/
    background-color: #f0f0f0;
    border-radius: 5px;/*cantos arredondados*/

    form {
        border: 3px solid #f1f1f1; /*Borda*/
        align-items: center;
         }

    .botaoenviar {
        background-color: lab(27.37% 25.08 26.92);
        padding: 10px 15px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        width: 100%;
  }
  
  .botaoinicio {
    background-color: hsl(43, 91%, 46%);
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
} 
}
fieldset {
    border: 1px solid #ccc;/*especura*/
    padding: 20px;
} /*linha branca ao redor*/

legend {
    font-weight: bold;
    font-size: 1.2em;
    padding: 0 10px;
}

.input-group {
    margin-bottom: 10px;
}

.input-icon {
    position: relative;
}

.input-icon img {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px 30px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}
div a {
    text-decoration: none;/*tirar o sublinhado dos links*/
    color:#000000; /*cor dos links*/
    margin: 0 10px;/*adiciona margem horizontal aos links*/
  }


 